.acorn-card-4 {
    width: 100% !important;
    padding: 0px !important;
    background: #000509 !important;
    border: 0px solid #064576 !important;
    color: white !important;
    text-align: center !important;
    margin-top: -20px !important;
  }

  .welcome-text {
    font-size: 42px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
  }

  /* Media query for screens smaller than 768 pixels */
  @media (max-width: 768px) {
    .welcome-text {
      font-size: 28px !important;  /* Adjust as needed */
      margin-top: 0px !important;
    }
  }

  .slogan-text {
    font-size: 18px !important;
    margin-bottom: 20px !important;
    margin-top: -10px !important;
    color: white !important;
  }

  .airdrop-container-4 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
  }

  .acorn-logo-3 {
    width: 80px !important;
    transform: rotate(-10deg) !important;
    position: absolute !important;
    left: -40px !important;
    top: 50% !important;
    transform-origin: center !important;
    animation: rotate 10s infinite linear !important;
  }

    /* Media query for screens smaller than 768 pixels */
    @media (max-width: 768px) {
      .acorn-logo-3 {
        width: 80px !important;
        transform: rotate(-10deg) !important;
        position: absolute !important;
        left: -40px !important;
        top: 50% !important;
        transform-origin: center !important;
      }
    }

  .airdrop-text-4 {
    text-align: left !important;
    margin-left: 0px !important;
  }

  .airdrop-text u, .slogan-text u {
    text-decoration: underline !important;
    text-decoration-color: #ffffff !important;
  }
